body {
  background-color: #EEEEEE;
}
h1{
  color: #408E91;

}

<img src="sophia3.png" alt="Sophia's Profile Picture"

h3{
  color: #408E91;
  font-style: ;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #B22727;
  border-width:  5px;
  width: 10%

}
img {
  height: 230px
}
